name: Update Website

on:
    push:
        branches:
            - main
        paths:
            - "markdown/**"

    pull_request:
        branches:
            - main
        types:
            - closed

    workflow_dispatch:

env:
    REVALIDATION_TOKEN: ${{ secrets.REVALIDATION_TOKEN }}

jobs:
    revalidate:
        runs-on: ubuntu-latest
        if: github.repository == 'hkamran80/articles' && (contains(github.event.pull_request.labels.*.name, 'new article') || contains(github.event.pull_request.labels.*.name, 'update article') || contains(github.event.pull_request.labels.*.name, 'new note') || contains(github.event.pull_request.labels.*.name, 'update note'))
        steps:
            - name: Checkout Branch
              uses: actions/checkout@v3
              with:
                  fetch-depth: 2

            - name: Install jd
              uses: supplypike/setup-bin@v3
              with:
                  uri: "https://github.com/josephburnett/jd/releases/download/v1.7.1/jd-amd64-linux"
                  name: jd
                  version: "1.7.1"

            - name: Install Node
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Revalidate
              run: node scripts/update.mjs

            - name: Update feeds
              run: curl -X POST -d {} "${{ secrets.ASSETS_BUILD_HOOK }}" -o /dev/null -w '%{http_code}\n' -s

    publish-to-dev:
        runs-on: ubuntu-latest
        if: github.repository == 'hkamran80/articles' && contains(github.event.pull_request.labels.*.name, 'new article') && github.event.pull_request.merged
        steps:
            - name: Checkout Branch
              uses: actions/checkout@v3
              with:
                  fetch-depth: 1

            - name: Install jd
              uses: supplypike/setup-bin@v3
              with:
                  uri: "https://github.com/josephburnett/jd/releases/download/v1.7.1/jd-amd64-linux"
                  name: jd
                  version: "1.7.1"

            - name: Install Node
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Revalidate
              run: node scripts/dev_to.mjs
